<% layout("/Layouts/boilerplate") %>

  <style>
    #filters{
      display: flex;
      flex-wrap: wrap;
    }
    .filter{
      text-align: center;
       margin: 2rem 2rem 2rem;
       opacity: 1;
      }
      .filter:hover{
        opacity: .8;
        cursor: pointer;
      }
      
      .icon{
      padding: .5rem;

    }
    select{
      border-radius: 5px;
      padding: 2px;
    }

     


  
  </style>

  <div id="filters">
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-wallet fa-2x"></i></i> 
         
      </div> 

      <div>
        <select name="price" id="price">
          <option value="default" selected disabled>Price</option>
          
          <option value="asc">Low to High</option>
          <option value="asc">High to Low</option>
        </select>
      </div>
      
    </div>
    <!-- Room Type -->
    <div class="filter">
      <div class="icon"> <i class="fa-solid fa-snowflake fa-2x"></i>  </div>

       <div>
        <select name="room-type" id="room-type">
          
          <option value="default" selected disabled>Room Type</option>
          <option value="Ac">AC</option>
          <option value="Non-Ac">Non-Ac</option>
        </select>
      </div>
      
    </div>


    <!-- Sharing -->
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-bed fa-2x"></i> </div>
      
      <div>
        <select name="bed-type" id="bed-type">
           <option value="default" selected disabled>Sharing</option>
          
          <option value="single">Single</option>
          <option value="double">Double</option>
          <option value="double">Triple</option>
        </select>
      </div>
      
    </div>

    <!-- Brand  -->
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-hotel fa-2x"></i> </div>
       
      <div>
        <select name="Brand" id="Brand">
           <option value="default" selected disabled>Brand</option>
          <option value="Annapurna">Annapurna</option>
          <option value="Ezstay">Ezstay</option>
          <option value="Nalanda">Nalanda</option>
          <option value="Standza">Standza</option>
        </select>
      </div>
      
    </div>

    <div class="filter">
      <div class="icon"><i class="fa-solid fa-person-half-dress fa-2x"></i></div>
       
      <div>
        <select name="gender" id="gender">
           <option value="default" selected disabled>Gender</option>
          <option value="boys">Boys</option>
          <option value="girls">Girls</option>
        </select>
      </div>
      
    </div>
  </div>
   
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">

    <% for (let item of data) { %>
      <div class="col">
        <a href="/listing/<%=item._id  %>">


          <div class="card h-100 mt-1 ">

            
             
            <img  src="<%= item.image && item.image.length > 0 
        ? item.image[0].url 
        : 'https://i.pinimg.com/736x/17/d6/9e/17d69ea901cdfc39ec7a4e526741ad8f.jpg' %>"
         class="card-img-top card-image" style="height: 18rem;" alt="Listing_image">
            <div class="card-body ">

              <h5 class="card-title">
                <%= item.title %>
              </h5>
              <!-- <p> ₹ <%= item.singleprice != 0 ? item.singleprice.toLocaleString('en-IN') : "N/A" %> /year</p> -->
              <!-- <p> ₹ <%= item.doubleprice != 0  ? item.doubleprice.toLocaleString('en-IN') : "N/A" %> /year</p> -->
              <!-- <p> ₹ <%= item.tripleprice != 0 ? item.tripleprice.toLocaleString('en-IN') : "N/A" %> /year</p> -->
             
            </div>
        </a>
      </div>
  </div>
  <% } %>

    </div>



   