<% layout("/Layouts/boilerplate") %>

  <style>
    #filters{
      display: flex;
      flex-wrap: wrap;
    }
    .filter{
      text-align: center;
       margin: 2rem 2rem 2rem;
       opacity: 1;
      }
      .filter:hover{
        opacity: .8;
        cursor: pointer;
      }
      
      .icon{
      padding: .5rem;

    }
     

     


  
  </style>

  <div id="filters">

    <!-- price filter -->
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-wallet fa-2x"></i></div> 

      <div>
        <select name="price" id="price">
          <option value=""  <%= !filters.price ? "selected" : ""  %> >Price</option>
          
          <option value="asc"
             <%= filters.price === "asc"
        ? "selected"
        : "" %>>
        Low to High</option>

          <option value="desc" <%= filters.price === "desc"
        ? "selected"
        : "" %>>
        High to Low</option>
        </select>
      </div>
      
    </div>
    <!-- Room Type -->
    <div class="filter">
      <div class="icon"> <i class="fa-solid fa-snowflake fa-2x"></i>  </div>

       <div>
        <select name="room-type" id="room-type">
          
          <option value=""  <%= !filters.roomtype ? "selected" : ""  %> > Room Type</option>
          <option value="AC" <%= filters.roomtype == "AC" ? "selected" : "" %>>AC</option>
          <option value="Non-AC" <%= filters.roomtype == "Non-AC" ? "selected" : ""%>>Non-AC</option>
        </select>
      </div>
      
    </div>


    <!-- Sharing -->

    <div class="filter">
      <div class="icon"><i class="fa-solid fa-bed fa-2x"></i> </div>
      
      <div>
        <select name="bed-type" id="bed-type">
          <option value=""  <%= !filters.bedtype ? "selected" : ""  %> >Sharing</option>
          
          <option value="Single" <%= filters.bedtype == "Single" ? "selected" : ""%>>Single</option>
          <option value="Double" <%= filters.bedtype == "Double" ? "selected" : ""%>>Double</option>
          <option value="Triple" <%= filters.bedtype == "Triple" ? "selected" : ""%>>Triple</option>
        </select>
      </div>
      
    </div>

    <!-- Brand  -->
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-hotel fa-2x"></i> </div>
       
      <div>
        <select name="Brand" id="Brand">
           <option value=""  <%= !filters.Brand ? "selected" : ""  %> >Brand</option>
          <option value="Annapurna" <%= filters.Brand == "Annapurna" ? "selected" : ""%>>Annapurna</option>
          <option value="Ezstay" <%= filters.Brand == "Ezstay" ? "selected" : ""%>>Ezstay</option>
          <option value="Nalanda" <%= filters.Brand == "Nalanda" ? "selected" : ""%>>Nalanda</option>
          <option value="Stanza" <%= filters.Brand == "Stanza" ? "selected" : ""%>>Stanza</option>
        </select>
      </div>
      
    </div>

    <div class="filter">
      <div class="icon"><i class="fa-solid fa-person-half-dress fa-2x"></i></div>
       
      <div>
        <select name="gender" id="gender">
           <option value=""  <%= !filters.hosteltype ? "selected" : ""  %>>Gender</option>
          <option value="Boys"<%= filters.hosteltype == "Boys" ? "selected" : ""%>>Boys</option>
          <option value="Girls" <%= filters.hosteltype == "Girls" ? "selected" : ""%>>Girls</option>
        </select>
      </div>
      
    </div>
  </div>
   
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">

    <% for (let item of data) { %>
      <div class="col">
        <a href="/listing/<%=item._id  %>">


          <div class="card h-100 mt-1 ">

            
             
            <img  src="<%= item.image && item.image.length > 0 
        ? item.image[0].url 
        : 'https://i.pinimg.com/736x/17/d6/9e/17d69ea901cdfc39ec7a4e526741ad8f.jpg' %>"
         class="card-img-top card-image" style="height: 18rem;" alt="Listing_image">
            <div class="card-body ">

              <h5 class="card-title">
                <%= item.title %>
              </h5>
            
             
            </div>
        </a>
      </div>
  </div>
  <% } %>

    </div>




<script>
        const pricefilter = document.getElementById("price");
        const bedtypefilter = document.getElementById("bed-type");
        const roomtypefilter = document.getElementById("room-type");
        const brandfilter = document.getElementById("Brand");
        const genderfilter  = document.getElementById("gender");

        function applyfilter(){
          const param = new URLSearchParams(window.location.search);

           

          if(pricefilter.value){
            param.set("price", pricefilter.value);
          }
          else{
            param.delete("price")
          }

          if(roomtypefilter.value){
            param.set("roomtype", roomtypefilter.value);
          }
          else{
            param.delete("roomtype");
          }

          if(bedtypefilter.value){
            param.set("bedtype" , bedtypefilter.value);
          }
          else{
            param.delete("bedtype")
          }

          if(brandfilter.value){
            param.set("Brand", brandfilter.value)
          }
          else{
            param.delete("Brand");
          }

          if(genderfilter.value){
            param.set("hosteltype", genderfilter.value )
          }
          else{
            param.delete("hosteltype")
          }

          window.location.href = `/listing?${param.toString()}`
        }

        pricefilter.addEventListener("change", applyfilter);
        bedtypefilter.addEventListener("change", applyfilter);
        roomtypefilter.addEventListener("change", applyfilter);
        brandfilter.addEventListener("change", applyfilter);
        genderfilter.addEventListener("change", applyfilter);
</script>


   